#picture-comments{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

#commentpicture img{
    width: 100%;
}

#picture-comments li{
    margin-bottom: 1vh;
    border-bottom: 1px solid var(--white-shadow);
    padding: 1vw;
    box-sizing: border-box;
}

#picture-comments li p {
    margin: 0px;
    padding: 0px;
    color: #000;
    margin-left: 1vw;
}

#picture-comments li p:nth-child(2) {
    margin-left: 2vw;
    font-size: 1em;
    margin-top: 0.5vh;
    margin-bottom: 0.8vh;
}

#picture-comments li:last-child{
    margin-bottom: 12vh
}

.commentpicture-username{
    font-size: 0.8em;
    font-weight: bold;
    color: #000;
}

#commentpicture div{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: white;
    font-size: 2em;
}

#picture-textComment-input{
    outline: none;
    border: none;
    border-top: 1px solid var(--white-shadow);
    resize: none;
    padding: 1vw;
    box-sizing: border-box;
}

.submit-button-comment{
    transition: 0.5s;
    background-color: var(--grey);
    border: none;
    padding: 10px;
    outline: none;
}

.submit-button-comment:hover {
    cursor: pointer;
    background-color: var(--grey-shadow);
}


@media only screen and (min-width: 600px){
    #commentpicture{
        margin-left: 25vw;
        margin-right: 25vw;
    }

    #picture-comments li{
        box-shadow: 0px 0px 20px var(--white-shadow);
    }

    #picture-textComment-input{
        border-top: 2px solid var(--white-shadow);
        padding: 1vh;
        padding-left: 1vw;
        padding-right: 1vw;
    }
}