:root {
    --yellow: #F6D242;
    --yellow-shadow: #d8b838;
    --rose: #FF52E5;
    --white-shadow: #eee;
    --black: #2c2c2c;
    --grey: rgb(230, 230, 230);
    --grey-shadow: rgb(211, 211, 211);
    --error:#FF6B6B;
    --info:#4ECDC4;
    --error-text:#FFFFFF;
    --info-text:#2c2c2c;
  }

html, body{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
}

.submit-button{
    transition: 0.5s;
    background-color: var(--grey);
    border: none;
    margin-bottom: 15px;
    padding: 15px;
    outline: none;
}

.submit-button:hover {
    cursor: pointer;
    background-color: var(--grey-shadow);
}

#debug{
    width: 100%;
    height: auto;
    background-color: #9c9bfc;
    color: white;
    padding: 15px;
    box-sizing: border-box;
}