@import url("global.css");

header{
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    color: white;
    z-index: 1000;
}

header h1{
    text-align: center;
    margin-bottom: 0;
    background: var(--black);
    background: radial-gradient(circle farthest-side at left center, var(--yellow) 20%, var(--rose) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 0;
}

header li{
    list-style: none;
    margin-bottom: 5px;
    margin-top: 5px;
}

header a{
    text-decoration: none;
    color: white;
}

#nav-menu{
    display: none;
}

header nav{
    margin-top: 10px;
}

header a:hover{
    color: var(--yellow);
}

.nav-separator{
    display: block;
    background-color: white;
    height: 2px;
    width: 100px;
}

#nav-hamburger{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    height: 40px;
    margin-bottom: 5px;
}

@media only screen and (min-width: 600px){
    #nav-hamburger{
        display: none;
    }
    #nav-menu{
        display: block;
    }
    header ul{
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-left: 25vw;
        margin-right: 25vw;
        align-content: center;
        margin-bottom: 10px;
    }

    header li{
        list-style: none;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .nav-separator{
        display: block;
        background-color: white;
        width: 2px;
        height: 10px;
    }
}