@import url("global.css");

header{
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    color: white;
}

header h1{
    text-align: center;
    margin-bottom: 0;
}

header ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

header li{
    list-style: none;
    margin-bottom: 5px;
    margin-top: 5px;
}

header a{
    text-decoration: none;
    color: white;
}

header nav{
    margin-top: 10px;
}

header ul{
    margin-bottom: 0;
}

header a:hover{
    color: var(--yellow);
}

.nav-separator{
    display: none;
}

#nav-hamburger{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    height: 40px;
    margin-bottom: 5px;
}

@media only screen and (min-width: 600px){
    #nav-hamburger{
        display: none;
    }

    header ul{
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-left: 25vw;
        margin-right: 25vw;
    }

    header li{
        list-style: none;
        margin-bottom: 15px;
        margin-top: 5px;
    }

    .nav-separator{
        display: block;
        background-color: white;
        width: 1px;
        height: 20px;
    }
}