@import url("global.css");

#home-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( 135deg, var(--yellow) 10%, var(--rose) 100%);
    height: 100%;
}

#home-popup{
    box-shadow: 0 0 50px var(--white-shadow);
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 35vw;
    min-width: 300px;
}

#home-login, #home-register{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

#home-login form, #home-register form{
    display: flex;
    flex-direction: column;
}


#home-login input:not([type=submit]), #home-register input:not([type=submit]){
    margin-bottom: 15px;
    padding: 15px;
    border: none;
    border-bottom: var(--black) 1px solid;
    outline: none;
}

#home-register{
    display: none;
}

#home-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    
}
         
#home-buttons button {
    flex: 1;
    background-color: var(--yellow);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border: none;
    padding: 15px;
    border-bottom: 2px solid var(--yellow-shadow);
  }

#home-buttons button:hover {
    background-color: var(--rose);
    border-bottom: 2px solid var(--rose);
  }
 
