body{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( 135deg, #F6D242 10%, #FF52E5 100%);
}

#home-popup{
    box-shadow: 0 0 50px #eee;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 35vw;
    min-width: 300px;
}

#home-login, #home-register{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

#home-login form, #home-register form{
    display: flex;
    flex-direction: column;
}

#home-login input, #home-register input{
    margin-bottom: 15px;
    padding: 15px;
    border: none;
    border-bottom: rgb(44, 44, 44) 1px solid;
    outline: none;
}

#home-login input[type=submit], #home-register input[type=submit]{
    transition: 0.5s;
    background-color: rgb(230, 230, 230);
    border: none;
}

#home-login input[type=submit]:hover, #home-register input[type=submit]:hover {
    background-color: rgb(211, 211, 211);
  }

#home-register{
    display: none;
}

#home-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    
}
         
#home-buttons button {
    flex: 1;
    background-color: #F6D242;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border: none;
    padding: 15px;
    border-bottom: 2px solid #d8b838;
  }

#home-buttons button:hover {
    background-color: #FF52E5;
    border-bottom: 2px solid #FF52E5;
  }
 
