@import url("global.css");
#makepicture{
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    height: 100%;
    box-shadow: inset 0 0 50vw var(--black);
}

#makepicture-preview{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
    max-width: 400px;
}

#makepicture-video{
    background-color: white;
    aspect-ratio: 9/16;
    height: 100%;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    object-fit: cover;
}

#makepicture-preview-img{
    position: absolute;
    background-color: transparent;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#makepicture-previous-preview, #makepicture-next-preview{
    top: 0;
    bottom: 0;
    width: 50%;
    position: absolute;
    border: none;
    outline: none;
    background-color: transparent;
}

#makepicture-previous-preview{
    left:0;
}

#makepicture-next-preview{
    left: 50%;
}

#makepicture-button{
    z-index: 1;
    position: absolute;
    bottom: 5%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: none;
    outline: none;
    transform: translateX(-50%);
    background-color: rgb(241, 89, 55);
    box-shadow: 0 0 10px rgb(241, 89, 55);
    opacity: 0.8;
    transition: 0.5s;
    transition-timing-function: ease-out;
}

#makepicture-button .gg-live-photo {
    transform: scale(var(--ggs,1.5));
    color: white;
    opacity: 0.5;
    transition: 0.5s;
    transition-timing-function: ease-out;
}

#makepicture-button:hover{
    opacity: 1;
    box-shadow: 0 0 15px rgb(241, 89, 55);
}

#makepicture-button:hover .gg-live-photo{
    transform: rotate(90deg) scale(var(--ggs,2));
    opacity: 1;
}